@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

#Navbar {
  background-color: rgb(245, 243, 243);
  margin-top: 0;
  margin-bottom: 0px;
  height: 70px;
  width: 100vw;
  box-shadow: 0 0 55px 0 rgba(153, 182, 184, 0.671);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
}
#logo {
  font-family: Nunito;
  color: rgb(189, 5, 5);
  font-size: 25px;
  padding-left: 20px;
}
#Devil {
  height: 70px;
  width: 70px;
}