
.App {
  background-color: rgb(250, 250, 250);
  padding: 0em;
  margin: 0em;
}

#tag-line {
  float: inline-start;
  position: relative;
  float: left;
  top: 80px;
  font-family: Nunito;
  font-size: 15px;
  color: rgb(187, 2, 2);
  overflow: hidden;
}
#copyright {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: Nunito;
  color: rgb(187, 2, 2);
  text-align: center;
}
